.expenseDate {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 15px;
    background-color: hsla(48, 100%, 93%, 0.28);
    border-radius: 15px;
    box-shadow: 2px 2px 10px hsla(48, 100%, 93%, 0.7);
}