.expensesFilter {
    width: 100%;
    padding: 0.5rem;
    text-align: end;
}

.expensesFilterSelect {
    padding: 0.5rem 2rem;
    border: none;
    background-color: hsl(219, 65%, 75%);
    margin-right: 1rem;
    border-radius: 15px;
    outline: none;
    color: #e9ecef;
    cursor: pointer;
    box-shadow: 2px 5px 10px hsl(219, 65%, 30%);
}

.expensesFitlerSelect:focus {
    outline: none;
}