.expenseItem {
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    color: hsl(210, 16%, 83%);
    background-color: hsl(219, 65%, 65%);
}

.expenseItem--inner {
    display: flex;
    align-items: center;
}

.expenseItem-description {
    margin-left: 2rem;
}

.expenseItem-amount {
    margin-right: 1rem;
}