.newExpense {
    border-radius: 10px;
    padding: 0.5rem;
}

.open-btn {
    width: 100%;
    text-align: center;
    margin: 1rem;
}

.btn-open {
    margin-bottom: 0.5rem;
    background-color: hsl(219, 65%, 75%);
}