.newExpense {
    background-color: rgba(131, 172, 255, 0.6);
    border-radius: 15px;
    box-shadow: 4px 0px 10px hsla(219, 41%, 47%, 0.2);
    padding: 0.5rem;
}

.open-btn {
    width: 100%;
    text-align: center;
    margin: 1rem;
}

.btn-open {
    margin-bottom: 0.5rem;
    background-color: hsl(280, 79%, 66%);
}