.chartBars {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.chartBar {
    width: 18px;
    height: 120px;
    border: 0.25px solid hsla(219, 65%, 75%, 20%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 1rem 1rem 0.25rem 1rem;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.chartBar--fill {
    height: 100%;
    background-color: hsl(219, 65%, 75%);
    opacity: 0.7;
}

.chartBarLabel {
    color: #e9ecef;
    font-size: 0.6rem;
    text-align: center;
    margin-bottom: 0.5rem;
}